openapi: 3.0.3
info:
  title: Online Shop - Shopping Cart v1 REST API
  version: '0.0.0'
  description: Online Shop - Shopping Cart v1 REST API.
  contact:
    name: Bhuwan Prasad Upadhyay
    email: bot.bhuwan@gmail.com
    url: 'https://github.com/lead-by-examples/'
  license:
    name: Apache 2.0
    url: 'https://github.com/lead-by-examples/online-shop/blob/master/LICENSE'
servers:
  - url: 'https://api.onlineshop.com'
paths:
  /carts:
    post:
      summary: Create new shopping cart
      description: >
        This endpoint allow to create new shopping cart.
      tags:
        - cart-command
      operationId: create-cart
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CartResource'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CartResource'
  /carts/{userId}:
    get:
      summary: Get user card
      description: This endpoint allow to get user cart detail.
      tags:
        - cart-query
      operationId: get-user-cart
      parameters:
        - name: userId
          in: path
          required: true
          description: User Id
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CartResource'
components:
  schemas:
    LineItemResource:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        price:
          type: double
        quantity:
          type: integer
        inventoryId:
          type: string
    CartResource:
      type: object
      properties:
        userId:
          type: string
        activeSince:
          type: long
        coupon:
          type: string
        lineItems:
          type: array
          items:
            $ref: '#/components/schemas/LineItemResource'
tags:
  - name: cart-query
    description: Shopping Cart Query API
  - name: cart-command
    description: Shopping Cart Command API
